<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567366345777-rc98p3rpd93itbtk38bk547ee4mqmim8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567366345777-rc98p3rpd93itbtk38bk547ee4mqmim8</string>
	<key>API_KEY</key>
	<string>AIzaSyBOkTYm28djtPq9o0H25MyZIFOciTpXp1E</string>
	<key>GCM_SENDER_ID</key>
	<string>567366345777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shinov-96-mail.ru.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e88bf</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e88bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567366345777:ios:d4686e7a6634f4162ee110</string>
</dict>
</plist>